body {
  background: url(https://image.ibb.co/nHEuCd/stripes_light.png);
}

.container {
  background: white;
}

#headshot {
  margin-left: 20px;
}

.img-responsive {
  width: 150px;
  height: 150px;
}

.navbar-brand {
  background: teal;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
}

#footer {
  height: 60px;
  background-color: white;
}

.heading {
    border-bottom: 2px solid gray;
}

/* .projects {
  width: 200px;
  length: 200px;
  position: center;
} */

img {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

h3 {
  position: absolute;
  bottom: 0px;
  width: 200px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 50;
  line-height: 25px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-size: 16px;
}